body{
    background-color: bisque;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap : 1.5vmin;
}
.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    background-color: cyan;
    font-size: 5rem;
}
#resett{
    padding: 1rem;
    font-size: 1.25rem;
    color: black;
    background-color: cyan;
}
.msg_container{
    height: 40vmin;
}
.hide{
    visibility: hidden;
}
#msg{
    font-size: 5vmin;
}